window#osd {
  border-radius: 10px;
  border: 0.5px solid #ccbeff;
  background: alpha(#141318, 0.9);
}

window#osd #container {
  margin: 4px 8px;
}

window#osd image {
  color: #ccbeff;
  -gtk-icon-transform: scale(0.6);
}

window#osd label {
  color: #e6e1e9;
  font-size: 12px;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 4px;
  min-width: 0;
  border-radius: 2px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#938f99, 0.5);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #ccbeff;
}

window#osd segment {
  margin-left: 4px;
}

window#osd segment:first-child {
  margin-left: 0;
}
