@define-color window_bg_color #141218;
@define-color accent_bg_color #d2bcfd;
@define-color theme_fg_color #e7e0e8;
@define-color theme_fg_dim #cbc4cf;
@define-color selected_bg_color #4f3d74;
@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;

* {
  all: unset;
}

.box-wrapper {
  background: alpha(@window_bg_color, 0.95);
  padding: 12px;
  border-radius: 10px;
  border: 1px solid @accent_bg_color;
}

.input {
  caret-color: @theme_fg_color;
  background: lighter(@window_bg_color);
  padding: 8px 12px;
  border-radius: 6px;
  color: @theme_fg_color;
}

.input placeholder {
  opacity: 0.5;
  color: @theme_fg_dim;
}

.input selection {
  background: @selected_bg_color;
}

.search-container {
  border-radius: 6px;
}

.list {
  color: @theme_fg_color;
}

.item-box {
  border-radius: 6px;
  padding: 8px;
}

child:selected .item-box,
child:hover .item-box {
  background: @selected_bg_color;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.2);
  border-radius: 4px;
  padding: 8px;
}

.item-subtext {
  font-size: 12px;
  opacity: 0.6;
  color: @theme_fg_dim;
}

.item-image-text {
  font-size: 28px;
}

.placeholder,
.preview-box,
.elephant-hint {
  color: @theme_fg_color;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  border-radius: 8px;
  color: @theme_fg_color;
}

.keybinds {
  padding-top: 8px;
  border-top: 1px solid lighter(@window_bg_color);
  font-size: 11px;
  color: @theme_fg_dim;
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid @theme_fg_dim;
}

.error {
  padding: 8px;
  background: @error_bg_color;
  color: @error_fg_color;
  border-radius: 6px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

popover {
  background: lighter(@window_bg_color);
  border: 1px solid @accent_bg_color;
  border-radius: 10px;
  padding: 8px;
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.bluetooth.disconnected {
  opacity: 0.5;
}
