:root {
  --cc-bg: #201f24;
  --noti-border-color: #48454e;
  --noti-bg: 20, 19, 24;
  --noti-bg-alpha: 0.95;
  --noti-bg-darker: #0f0d13;
  --noti-bg-hover: #2b292f;
  --noti-bg-focus: #36343a;
  --noti-close-bg: #2b292f;
  --noti-close-bg-hover: #36343a;
  --text-color: #e6e1e9;
  --text-color-disabled: #938f99;
  --bg-selected: #ccbeff;
}
