window#osd {
  border-radius: 10px;
  border: 0.5px solid #{{colors.primary.default.hex_stripped}};
  background: alpha(#{{colors.surface.default.hex_stripped}}, 0.9);
}

window#osd #container {
  margin: 4px 8px;
}

window#osd image {
  color: #{{colors.primary.default.hex_stripped}};
  -gtk-icon-transform: scale(0.6);
}

window#osd label {
  color: #{{colors.on_surface.default.hex_stripped}};
  font-size: 12px;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 4px;
  min-width: 0;
  border-radius: 2px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#{{colors.outline.default.hex_stripped}}, 0.5);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #{{colors.primary.default.hex_stripped}};
}

window#osd segment {
  margin-left: 4px;
}

window#osd segment:first-child {
  margin-left: 0;
}
